ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}

.completed {
  color: green;
  text-decoration: line-through;
}

.incomplete {
  color: red;
}
